@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@media (width >= 768px) {
  #mobileHeader {
    display: none;
  }

  #desktopHeader {
    display: flex;
  }

  .mobile-landing {
    display: none;
  }

  .desktop-landing {
    display: grid;
  }

  .ams {
    display: none;
  }

  .contact_me_mobile {
    display: none;
  }

  .desktop_ams {
    display: flex;
  }

  .contact_me_desktop {
    display: grid;
  }
}

@media (width < 768px) {
  #desktopHeader {
    display: none;
  }

  #mobileHeader {
    display: flex;
  }

  .mobile-landing {
    display: flex;
  }

  .desktop-landing {
    display: none;
  }

  .ams {
    display: flex;
  }

  .contact_me_mobile {
    display: flex;
  }

  .desktop_ams {
    display: none;
  }

  .contact_me_desktop {
    display: none;
  }
}

:root {
  --h1-color: #172b4d;
  --h2-color: #6070ff;
  --white-color: #fff;
  --black-color: #000;
  --html-color: #602;
  --body-color: #760;
  --color1-color: greenyellow;
  --color2-color: #0ff;
  --p-color: #344563;
  --bg-color: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #f7f7f9;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f9;
  width: 100%;
  height: auto;
  overflow-x: auto;
}

.lets-connect-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 170px;
  list-style: none;
}

.letconnect_icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 170px;
  list-style: none;
}

.mobile-menu-page-class ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: start;
}

.About-languages ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 0.5rem;
}

.About-languages ul ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktop-landing-content .lets-con-desk-icon ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 170px;
  list-style: none;
}

section.desktop_ams .about_part2 ul {
  list-style: none;
}

section.desktop_ams .about_part2 ul li ul {
  display: flex;
  list-style: none;
}

#mobileHeader {
  /* display: flex; */
  justify-content: center;
  background-color: var(--white-color);
  width: 100%;
  min-width: 375px;
  height: 3rem;
}

.mobile-landing {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  height: calc(100vh + 6rem);
  background-color: var(--white-color);
  background-image: url("../Images/my_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 80px;
  overflow-x: auto;
}

.mobile-landing h1 {
  width: 80%;
  margin-top: 6rem;
  margin-left: 2rem;
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 1rem;
  color: var(--h1-color);
}

.wrapper {
  max-width: 12ch;
  white-space: nowrap;
}

.mobile-landing p {
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  margin-left: 2rem;
  width: 85%;
  max-width: 40ch;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  text-align: left;
  margin-bottom: 1rem;
  color: var(--p-color);
}

.lets-connect {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  min-width: 117px;
  max-height: 24px;
  color: #7f8cff;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.lets-connect-icons {
  width: 11rem;
  color: #7f8cff;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.desktop-landing-content p {
  width: 750px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  text-align: left;
  margin-bottom: 2rem;
}

.desktop_contact_content > p {
  display: flex;
  justify-content: center;
  align-self: center;
  color: #fff;
  width: 40%;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  text-align: center;
  margin-left: 5rem;
  margin-bottom: 1px;
}

section.ams {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  height: 1100px;
  text-align: center;
  color: white;
  background-color: #fff;
  border: 1px solid #fff;
  border-top-right-radius: 80px;
  margin-top: 20px;
  margin-bottom: 5rem;
  padding-left: 1rem;
  padding-top: 100px;
  overflow-x: hidden;
}

.mobile-about-myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 10%;
}

.contact_me_desktop h2 {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 100%;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 10rem;
  margin-left: 3rem;
}

section.ams h2 {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  font-family: 'Poppins', system-ui, Courier, monospace;
  height: 101px;
  color: #172b4d;
  text-align: left;
  margin-top: 10px;
}

section.ams p {
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  max-width: 327px;
  max-height: 180px;
  color: #344563;
  text-align: left;
  margin-top: 20px;
}

.letconnect_text {
  display: flex;
  font-size: 16px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  min-width: 117px;
  max-height: 24px;
  color: #7f8cff;
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
}

.letconnect_text a {
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.letconnect_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 170px;
  margin-top: 20px;
}

.about-lang-menu {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
  width: 327px;
  height: 72px;
  margin-bottom: 1rem;
}

.about-lang-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.about-lang-menu a h3 {
  display: flex;
  align-items: center;
  color: #253858;
  width: 80%;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lang-btn ul li a {
  display: flex;
  text-decoration: none;
}

.mobile-menu-page-class ul li {
  display: flex;
  margin-bottom: 1rem;
}

.About-languages ul ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.mobile-menu-page-class ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}

.About-languages ul ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.About-languages ul ul li button h3 {
  display: flex;
  align-items: center;
  color: #253858;
  width: 80%;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#mobileHeader ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  list-style: none;
}

.contact_me_mobile {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  height: 810px;
  background-color: #6070ff;
  background-image: url("../Images/contact_me_bgd.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  border-top-left-radius: 80px;
  overflow-x: auto;
}

section.contact_me_mobile > h2 {
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 8.5rem;
  margin-left: 4rem;
}

section.contact_me_mobile > p {
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  width: 327px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.contact_me_desktop form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
  width: 40%;
  height: 50%;
  align-self: center;
}

section.contact_me_mobile form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 327px;
  height: auto;
  margin-top: 1rem;
}

.contact_me_desktop form input {
  background: #fff;
  border: 1px solid #cfd8dc;
  cursor: pointer;
  width: 447px;
  height: 48px;
  margin-top: 1rem;
  padding-left: 10px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

section.contact_me_mobile > form > input {
  background: #fff;
  border: 1px solid #cfd8dc;
  cursor: pointer;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

section.contact_me_mobile > form > input::placeholder {
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  color: #172b4d;
  width: 273px;
  height: 40px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 8px;
  width: 327px;
  height: 11.5rem;
}

textarea::placeholder {
  display: flex;
  font-family: 'Poppins', system-ui, Courier, monospace;
  color: #b3bac5;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

section.contact_me_mobile > hr {
  border: 2px solid #0d151e;
  background-color: #0d151e;
  width: 40%;
  height: 5px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 1rem;
  margin-left: 30%;
}

#desktopHeader {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  padding-left: 8rem;
  padding-right: 8rem;
  background-color: #fff;
}

#desktopHeader ul {
  display: flex;
  width: 16rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px;
}

#desktopHeader ul li a {
  display: flex;
  text-decoration: none;
  color: #344563;
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

.desktop-landing {
  /* display: grid; */
  width: 100%;
  height: 630px;
  background-color: white;
  padding-left: 2rem;
  padding-top: 2rem;
  overflow-x: auto;
  border-bottom-left-radius: 80px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

.desktop-landing-content {
  display: flex;
  flex-direction: column;
  background-image: url("../Images/landing_desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 12rem;
  padding-left: 15.7%;
}

.desktop-landing-content h1 {
  width: 40%;
  align-items: center;
  letter-spacing: 0.37px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: var(--h1-color);
}

.desktop-landing-content .wrapper {
  max-width: 15ch;
  white-space: nowrap;
}

.desktop-landing-content .lets-con-desk-txt {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  min-width: 117px;
  max-height: 2rem;
  color: #7f8cff;
  text-align: left;
  margin-bottom: 0.5rem;
}

.desktop-landing-content .lets-con-desk-icon {
  width: 11rem;
  color: #7f8cff;
  text-align: left;
}

.desk_main_content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1rem;
  width: 100%;
}

.desk_main_content h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', system-ui, Courier, monospace;
  color: #172b4d;
  text-align: left;
  margin-top: 1rem;
}

.desktop-section .desk_main_content p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  color: #344563;
  text-align: left;
  margin-top: 2rem;
  margin-left: 1px;
}

.desktop_ams {
  /* display: flex; */
  width: 100%;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  border-top-right-radius: 150px;
  gap: 1rem;
}

section.desktop_ams .about_part1 {
  width: 40%;
}

section.desktop_ams .about_part2 {
  width: 60%;
}

section.desktop_ams .about_part1 h2 {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  color: #091e42;
  text-align: left;
  margin-top: 10px;
  height: auto;
}

section.desktop_ams .about_part1 p {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  margin-left: 1px;
  color: #344563;
  text-align: left;
  margin-top: 10px;
}

.letconnect_icons ul li:hover {
  transform: scale(1.1);
}

.centered4 ul li:hover {
  transform: scale(1.1);
}

section.desktop_ams .about_part2 ul li ul li {
  display: flex;
  list-style: none;
  width: 140px;
  height: 120px;
}

.contact_me_desktop {
  /* display: grid; */
  justify-content: center;
  width: 100%;
  border: 1px solid #dfe1e6;
  background-color: #6070ff;
  border-top-left-radius: 150px;
}

.desktop_contact_content {
  display: flex;
  flex-direction: column;
  background-image: url("../Images/contact_desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-bottom-left-radius: 80px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.contact_me_desktop form textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 8px;
  width: 447px;
  height: 170px;
  margin-top: 1rem;
}

.desktop_contact_content form .see-project-btn {
  display: flex;
  justify-content: center;
}

.lang-btn button {
  display: flex;
  width: fit-content;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ebebff;
  color: #6070ff;
  justify-content: center;
  border: 1px solid #ebebff;
  border-radius: 8px;
  align-items: center;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.about-lang-menu button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 48px;
  width: 327px;
  height: 72px;
  padding-right: 3rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom: 1.5px solid #dfe1e6;
}

.see-project-btn > button,
.contact_me_mobile button {
  display: flex;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  align-self: start;
}

.About-languages ul ul li button {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  gap: 10px;
  background-color: #f7f7f9;
  border: 1px solid #f7f7f9;
  border-radius: 8px;
  padding-left: 1rem;
}

.ams > .mobile-about-myself > button {
  display: flex;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  align-self: start;
}

.see-project-btn button:hover,
.contact_me_mobile button:hover {
  background-color: #6070ff;
  color: #fff;
}

.see-project-btn button:active,
.contact_me_mobile button:active {
  background-color: #2230d2;
  color: #fff;
}

.see-project-btn button:disabled,
.contact_me_mobile button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.lang-btn button:hover {
  background-color: #6070ff;
  color: #fff;
}

.lang-btn button:active {
  background-color: blue;
  color: #fff;
}

.lang-btn button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.About-languages > ul > li:nth-child(1) > a > button {
  border-bottom: none;
}

.ams > .mobile-about-myself > button:hover {
  background-color: #6070ff;
  color: #fff;
}

.ams > .mobile-about-myself > button:active {
  background-color: #2230d2;
  color: #fff;
}

.ams > .mobile-about-myself > button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.blur {
  filter: blur(8px);
}

.mobile-menu-page-class {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 1rem;
}

.mobile-menu-close-class {
  width: 7%;
  margin-top: 3rem;
  margin-left: 80%;
  color: #fff;
}

#modal-id {
  display: none;
}

#header-dialog-section {
  display: none;
}

.header-dialog-close1 {
  width: 7%;
  color: greenyellow;
}

.dialog-header-div svg {
  width: 100%;
  color: #67798e;
}

#dialogCloseDiv {
  display: flex;
  justify-content: end;
}
