@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --h1-color: #172b4d;
  --h2-color: #6070ff;
  --white-color: #fff;
  --black-color: #000;
  --html-color: #602;
  --body-color: #760;
  --color1-color: greenyellow;
  --color2-color: #0ff;
  --p-color: #344563;
  --bg-color: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: var(--html-color);
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  width: 100%;
  min-width: 375px;
  height: 3rem;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100%;
  height: fit-content;
}

.mobile-landing {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  height: calc(100vh + 4rem);
  background-color: var(--white-color);
  background-image: url("../Images/my_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 80px;
}

h1 {
  width: 80%;
  margin-top: 6rem;
  margin-left: 2rem;
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 1rem;
  color: var(--h1-color);
}

.wrapper {
  max-width: 12ch;
  white-space: nowrap;
}

.mobile-landing p {
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  margin-left: 2rem;
  width: 85%;
  max-width: 40ch;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  text-align: left;
  margin-bottom: 1rem;
  color: var(--p-color);
}

.lets-connect {
  font-size: 16px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  min-width: 117px;
  max-height: 24px;
  color: #7f8cff;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.lets-connect-icons {
  width: 11rem;
  color: #7f8cff;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.lets-connect-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 170px;
  list-style: none;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #f7f7f9;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  display: flex;
  flex-direction: column;
  width: 87.2%;
  height: 37.5rem;
  align-items: center;
  justify-self: center;
  margin-top: 100px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 10px;
  padding-top: 2rem;
}

.card-1-bg {
  display: flex;
  justify-self: center;
  background-image: url("../Images/Tonic1-pic.svg");
  background-repeat: no-repeat;
  width: 18.4375rem;
  height: 220px;
  margin-top: 10px;
}

.card-2-bg {
  display: flex;
  justify-self: center;
  background-image: url("../Images/Multi-PostStory1.svg");
  background-repeat: no-repeat;
  width: 18.4375rem;
  height: 220px;
  margin-top: 10px;
}

.card-3-bg {
  display: flex;
  justify-self: center;
  background-image: url("../Images/Tonic2-pic.svg");
  background-repeat: no-repeat;
  width: 18.4375rem;
  height: 220px;
  margin-top: 10px;
}

.card-4-bg {
  display: flex;
  justify-self: center;
  background-image: url("../Images/Multi-PostStory2.svg");
  background-repeat: no-repeat;
  width: 18.4375rem;
  height: 220px;
  margin-top: 10px;
}

h2 {
  font-family: 'Poppins', system-ui, Courier, monospace;
  margin-top: 20px;
  width: 295px;
  height: 3rem;
  color: #172b4d;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.canopy {
  display: flex;
  background-image: url("../Images/CANOPY.svg");
  background-repeat: no-repeat;
  width: 295px;
  height: 2rem;
}

section.card-1 p,
section.card-2 p,
section.card-3 p,
section.card-4 p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  max-width: 295px;
  color: #344563;
  text-align: left;
  margin-top: 1rem;
}

.lang-btn {
  display: flex;
  align-items: center;
  width: 295px;
  margin-top: 1rem;
}

.lang-btn ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

.lang-btn ul li {
  display: flex;
  margin-right: 10px;
  align-items: center;
  text-decoration: none;
}

.lang-btn ul li a {
  display: flex;
  text-decoration: none;
}

.lang-btn button {
  display: flex;
  width: fit-content;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ebebff;
  color: #6070ff;
  justify-content: center;
  border: 1px solid #ebebff;
  border-radius: 8px;
  align-items: center;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.card-1-btn {
  display: flex;
  align-items: center;
  width: 295px;
  margin-top: 1rem;
}

.card-1-btn > button,
.ams > button {
  display: flex;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  align-self: start;
}

.card-1-btn > button:hover,
.ams > button:hover {
  background-color: #6070ff;
  color: #fff;
}

.card-1-btn > button:active,
.ams > button:active {
  background-color: blue;
  color: #fff;
}

.card-1-btn > button:disabled,
.ams > button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.lang-btn button:hover {
  background-color: #6070ff;
  color: #fff;
}

.lang-btn button:active {
  background-color: blue;
  color: #fff;
}

.lang-btn button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

section.ams {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1100px;
  text-align: center;
  color: white;
  background-color: #fff;
  border: 1px solid #fff;
  border-top-right-radius: 80px;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 100px;
  margin-left: 16px;
}

section.ams h2 {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  font-family: 'Poppins', system-ui, Courier, monospace;
  width: 250px;
  height: 101px;
  color: #172b4d;
  text-align: left;
  margin-top: 10px;
}

section.ams p {
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  max-width: 327px;
  max-height: 180px;
  color: #344563;
  text-align: left;
  margin-top: 20px;
}

.letconnect_text {
  display: flex;
  font-size: 16px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  min-width: 117px;
  max-height: 24px;
  color: #7f8cff;
  text-align: left;
  margin-top: 10px;
}

.letconnect_text a {
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.letconnect_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 170px;
  margin-top: 20px;
}

.letconnect_icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 170px;
  list-style: none;
}

.about-lang-menu {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
  width: 327px;
  height: 72px;
  margin-bottom: 1rem;
}

.about-lang-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.about-lang-menu button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 48px;
  width: 327px;
  height: 72px;
  padding-right: 3rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom: 1.5px solid #dfe1e6;
}

.About-languages > ul > li:nth-child(1) > a > button {
  border-bottom: none;
}

.About-languages ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 0.5rem
}

.About-languages ul ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About-languages ul ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.About-languages ul ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.About-languages ul ul li button {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  gap: 10px;
  background-color: #f7f7f9;
  border: 1px solid #f7f7f9;
  border-radius: 8px;
}

.About-languages ul ul li button h3 {
  display: flex;
  align-items: center;
  color: #253858;
  width: 80%;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}